@import url('https://fonts.googleapis.com/css?family=Merienda');

.index-page-css {
  padding-top: 2vw;
}

.build-tile-css {
  padding: 4vw 3vw 1vw 3vw;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-family: 'Merienda', cursive;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  float: right;
  text-align: center;
}

.build-title {
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: .35em;
  padding: .4vw .4vw;
  background-color: orange;
  font-family: 'Merienda', cursive;
}

.build-title:hover {
  color: black;
}

.build-description {
  padding-top: 1vw;
}

.build-price {
  padding-bottom: 1vw
}
